{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block body %}



<div class="jumbotron jumbotron-fluid my-5 jumbochange">

    <div class="container">

        <img src="{{ asset('img/logo.png') }}" style="height: 20%; width: 20%" alt="logo Héra Créations" class="titre">


    </div>
</div>





<div class="container container-top block-clair">



    <div class="row">

        <h1 class="titre">Héra Créations, votre agence digitale</h1>

    </div>


    <div class="row">

        <p class="texte-presentation">Héra Créations est une agence digitale, basée à Saint-Maur-des-Fossés, à quelques kilomètres de Paris.

            Forts de nos longues expériences passées, nous avons décidé de nous lancer dans cette aventure qu’est la création d’une agence digitale, afin de nous concentrer sur ce que nous maîtrisons le mieux, ce que nous aimons réaliser et de vous le proposer.
        </p>
    </div>

</div>

<div class="container block-clair">






        <div class="row justify-content-around">

            <div class="col-4 ">
                <div class="row">
                    <img src="{{ asset('img/agencedigitale.png') }}" class="mx-auto d-block img-fluid rounded-circle" style="height: 200px ; width : 200px" alt="agence digitale">
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <img src="{{ asset('img/competencesagencedigitale.jpg') }}" class="mx-auto d-block img-fluid rounded-circle" style="height: 200px ; width : 200px" alt="compétences agence digitale">
                </div>
            </div>

            <div class="container-fluid row titre mt-5">Et parce que nous sommes aussi pour la plupart parents et que nous avons été amenés à déposer nos enfants de la crèche, nous avons eu envie de développer une solution globale comprenant des outils d’aide à la communication entre professionnels de crèches et parents ainsi qu’une partie administrative intuitive et ergonomique qui simplifiera grandement la vie des salariés d’une crèche.

                Si vous êtes gestionnaires de crèches, auxiliaires de puériculture ou encore parents d’enfants inscrits à la crèche, alors notre produit phare Horus va vous séduire totalement !

            </div>


        </div>
</div>

        <div class="container block-fonce">

            <div class="row titre my-5">

                <h2 class="margin-auto justify-content-center">Notre équipe pluridisciplinaire nous confère de nombreuses spécialités :</h2>

                <br/>
            </div>

            <div class="row justify-content-around my-5 ">

                <div class="card col-3" style="width: 18rem;">
                    <img src="{{ asset('../img/baseline_local_atm_black_18dp.png') }} }}" class="card-img-top" alt="Réalisation sites vitrine">
                    <div class="card-body">
                        <h5 class="card-title">Création de sites vitrine</h5>
                        <p class="card-text">Présentez votre activité en ligne. Nous réalisons l’intégralité des fonctionnalités pour vous !</p>
                        <a href="#" class="btn btn-primary card-link">Go somewhere</a>
                    </div>
                </div>

                <div class="card col-3" style="width: 18rem;">
                    <img src="{{ asset('../img/baseline_local_atm_black_18dp.png') }} }}" class="card-img-top" alt="Création de site ecommerce">
                    <div class="card-body">
                        <h5 class="card-title">Création de site ecommerce</h5>
                        <p class="card-text">Création clés en mains de votre site E-commerce, conseil, hébergement,
                            charte graphique, paiement, livraison… Votre stratégie E-commerce n’a jamais été aussi efficace.</p>
                        <a href="#" class="btn btn-primary card-link">Go somewhere</a>
                    </div>
                </div>

                <div class="card col-3" style="width: 18rem;">
                    <img src="{{ asset('../img/baseline_local_atm_black_18dp.png') }} }}" class="card-img-top" alt="Design, refonte graphique de votre site existant">
                    <div class="card-body">
                        <h5 class="card-title">Design, refonte graphique de votre site existant</h5>
                        <p class="card-text">L’identité visuelle est la base de votre stratégie de communication. Elle permet d’identifier immédiatement votre entreprise.</p>
                        <a href="#" class="btn btn-primary card-link">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="row justify-content-around my-5 ">

                <div class="card col-3 mb-5">
                    <img src="{{ asset('../img/baseline_local_atm_black_18dp.png') }} }}" class="mr-3" alt="Inbound marketing">
                    <div class="card-body">
                        <h5 class="mt-0">Inbound marketing</h5>
                        <p class="card-text">Fini le temps où on allait chercher le client.
                        Il faut désormais le faire venir à soi. Nous créons pour vous
                            le contenu qui permettra d’attirer sur votre site ou blog vos futurs clients.</p>
                    </div>
                    <a href="#" class="btn btn-primary card-link">Go somewhere</a>

                </div>

                <div class="card col-3 mb-5">
                    <img src="{{ asset('../img/baseline_local_atm_black_18dp.png') }} }}" class="mr-3 card-img-top" alt="Référencement (SEO)">
                    <div class="card-body">
                        <h5 class="mt-0">Référencement (SEO)</h5>
                        <p class="card-text">L’identité visuelle est la base de
                            votre stratégie de communication. Elle permet d’identifier immédiatement votre entreprise.</p>
                        <a href="#" class="btn btn-primary card-link">Go somewhere</a>

                    </div>
                </div>

                <div class="card col-3 mb-5 ">
                    <img src="{{ asset('../img/baseline_local_atm_black_18dp.png') }} }}" class="mr-3 card-img-top" alt="Réalisation d’applications mobiles">
                    <div class="card-body">
                        <h5 class="mt-0">Réalisation d’applications mobiles</h5>
                        <p class="card-text">Vous considérez que la création d’une application mobile
                            fait partie de votre stratégie de croissance, alors nos
                            partenariats et compétences en interne sont là pour vous.</p>
                    </div>
                    <a href="#" class="btn btn-primary card-link">Go somewhere</a>

                </div>


            </div>
        </div>
</div>


{% endblock %}
