{% extends 'base.html.twig' %}

{% block title %}Enregistrer une nouvelle commande{% endblock %}

{% block body %}

<div class="container container-top container-bottom">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="block-clair mb-5 mx-5 border-primary">

        <h2 class="titre">Enregistrer une nouvelle commande</h2>
        <div class="mx-1">
            {{ form_start(form)}}
            {{ form_row(form.Nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.referencecommande) }}
            {{ form_row(form.email) }}
            {{ form_row(form.datecommande) }}
            {{ form_row(form.status) }}
             <button class="submit btn btn-primary">Enregistrer</button>
            {{ form_end(form)}}
            <button class="btn btn-secondary mx-1 mt-3"> <a href="javascript:history.back()">Retour</a></button>
        </div>
    </div>
</div>

{% endblock %}
