{% extends 'base.html.twig' %}

{% block title %}BLOG{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid my-5 jumbochange">

        <div class="container">

            <img src="{{ asset('img/logo.png') }}" style="height: 20%; width: 20%" alt="logo Héra Créations" class="titre">


        </div>
    </div>

<div class=" container-top container-bottom mx-5">




    <div class="row mr-5 justify-content-around">

        <div class="  block-clair col-7 mr-5 border ">

            <h1 class="titre my-5 ">DERNIERS ARTICLES</h1>

            {% for row in articles|batch(2) %}
                <div class="row">
                    {% for article in row %}
                        <div class="col-md-6 mb-5">

                            <a href="{{ path( 'show_article',{'slug' : article.slug} ) }}" class="col card titre align-self-center text-uppercase">

                                <h3 class="card-header">{{ article.title }} </h3>

                                <div class="card-body">

                                    <h5 class="card-title">{{ article.extrait  }} </h5>

                                </div>

                                <img style="height: 200px; width: 100%; display: block;" src="{{ article.image }}" alt="Card image">

                            </a>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}

            {#{% for article in articles %}

                <div class=" col-6 mb-5 border-danger text-center">



                    <a href="{{ path( 'show_article',{'slug' : article.slug} ) }}" class="col card titre align-self-center text-uppercase">

                                <h3 class="card-header">{{ article.title }} </h3>

                                <div class="card-body">

                                    <h5 class="card-title">{{ article.extrait  }} </h5>

                                </div>

                                <img style="height: 200px; width: 100%; display: block;" src="{{ article.image }}" alt="Card image">

                        </a>
                </div>
            {%  endfor %}#}

        </div>


        <div class=" col-4 block-fonce mx-2 border">

            <h1 class="titre my-5 text-center">CATEGORIES</h1>

            <div class="card mb-3 w-auto" style="width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title ">Développement</h5>
                    {% for article in articleByCat['Développement']|slice(0,5) %}
                        <h6><a href="{{ path( 'show_article',{'slug' : article.slug} ) }}" class="card-link">{{ article.title|upper  }}</a></h6>
                    {%  endfor %}



                </div>

            </div><div class="card my-5 w-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Marketing</h5>
                    {% for article in articleByCat['Marketing']|slice(0,5) %}
                        <h6><a href="{{ path( 'show_article',{'slug' : article.slug} ) }}" class="card-link">{{ article.title|upper  }}</a></h6>
                    {%  endfor %}



                </div>

            </div>

            <div class="card my-5 w-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Design</h5>
                    {% for article in articleByCat['Design']|slice(0,5) %}
                        <h6><a href="{{ path( 'show_article',{'slug' : article.slug} ) }}" class="card-link">{{ article.title|upper  }}</a></h6>
                    {%  endfor %}




                </div>

            </div>



        </div>


    </div>

</div>


{% endblock %}