{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <div class="container container-bottom container-top">

        <h1 class="titre">Inscription</h1>

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.motdepasse) }}
        <button class="btn btn-primary submit">S'inscrire</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
