{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container container-bottom container-top">

        <h1 class="titre">Inscription</h1>

        {{form_start(form)}}
        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles|t) }}
        {{ form_end(form) }}

        <button class="btn btn-primary submit">S'inscrire</button>


    </div>

{% endblock %}
