{% extends 'base.html.twig' %}

{% block title %}CONTACT{% endblock %}

{% block body %}
    <div class="container container-top my-5">
        <div class="jumbotron my-5">
            <h1>
                Contactez-Nous !
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fuga id laudantium libero, natus nobis optio
                pariatur, perspiciatis, quae repudiandae sapiente sed soluta velit veniam voluptas? Accusantium autem
                corporis cumque deleniti dolor dolorem ea eaque facilis fuga inventore iste iusto nulla omnis qui quisquam
                repellendus, saepe sapiente suscipit vitae voluptas!
            </p>
        </div>

        <div id="contactform my-5">
            {{ dump() }}
            {{ form_start(form) }}
                <div class="class row">
                    <div class="col">{{ form_row(form.firstname) }}</div>
                    <div class="col">{{ form_row(form.lastname) }}</div>

                </div>

                <div class="class row">
                    <div class="col">{{ form_row(form.phone) }}</div>
                    <div class="col">{{ form_row(form.email) }}</div>

                </div>
            {{ form_rest(form) }}

            <div class="form-group">
                <button class="btn btn-primary">Envoyer</button>
            </div>

            {{ form_end(form) }}


            <br/>
        </div>

        <br/>

    </div>
{% endblock %}