{% extends 'base.html.twig' %}

{% block title %}CONTACT{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid my-5 jumbocontact">

        <div class="container">

            <img src="{{ asset('img/logo.png') }}" style="height: 20%; width: 20%" alt="logo Héra Créations" class="titre">

            <h1 style="color:white;text-shadow: 1px 1px 2px black">
                Contactez-Nous !
            </h1>

            <p style="color:white;text-shadow: 1px 1px 2px black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fuga id laudantium libero, natus nobis optio
                pariatur, perspiciatis, quae repudiandae sapiente sed soluta velit veniam voluptas? Accusantium autem
                corporis cumque deleniti dolor dolorem ea eaque facilis fuga inventore iste iusto nulla omnis qui quisquam
                repellendus, saepe sapiente suscipit vitae voluptas!
            </p>

        </div>
    </div>

    <div class="container container-top my-5">

        <div id="contactform my-5">

            {{ form_start(form) }}
                <div class="class row">
                    <div class="col">{{ form_row(form.firstname) }}</div>
                    <div class="col">{{ form_row(form.lastname) }}</div>

                </div>

                <div class="class row">
                    <div class="col">{{ form_row(form.phone) }}</div>
                    <div class="col">{{ form_row(form.email) }}</div>

                </div>
            {{ form_rest(form) }}

            <div class="form-group">
                <button class="btn btn-primary">Envoyer</button>
            </div>

            {{ form_end(form) }}


            <br/>
        </div>

        <br/>

    </div>
{% endblock %}