<table>
    <tr>
        <td style="">Prénom</td>
        <td>
            {{ contact.firstname }}
        </td>
    </tr><tr>
        <td style="">Nom</td>
        <td>
            {{ contact.lastname }}
        </td>
    </tr><tr>
        <td style="">Date d'envoi</td>
        <td>
            {{ date }}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid harum ipsa iure nam officia possimus quas reprehenderit sint tempora. Assumenda corporis culpa cum cupiditate, distinctio dolor doloribus eaque eos eum in inventore iste itaque libero nesciunt nisi perferendis quisquam reiciendis repellendus sed sint ut velit veniam vitae voluptatem voluptatum.
        </td>
    </tr><tr>
        <td style="">Téléphone</td>
        <td>
            {{ contact.phone }}
        </td>
    </tr>
    <tr>
        <td style="">Email</td>
        <td>
            {{ contact.email }}
        </td>
    </tr>
    <tr>
        <td style="">Message</td>
        <td>
            {{ contact.message }}
        </td>
    </tr>
</table>