<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}<h1>Héra Créations : Sites , Applications , Gestion de crèches - </h1>{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}


            <nav class="navbar navbar-expand-lg  fixed-top  " style="background-color: #2D846A ; text-decoration-color: whitesmoke">

                <button class="navbar-toggler alert-primary" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{{ path('home') }}"><img  src="{{ asset('img/logo.png') }}" style="height: 40px; width: 100%; display: block"></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{{ path('hera_baby_care') }}">Notre produit phare</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="{{ path('catalogue') }}">Notre catalogue</a>
                    </li>


                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn-warning rounded-pill" href="{{ path('commande_choice') }}">Votre commande</a>
                    </li>


                </ul>

            </div>
        </nav>
    </head>
    <body>

        {% block body %}

        {% endblock %}

        {% block footer %}
            <nav class="navbar navbar-expand-lg  fixed-bottom footer" style="background-color: #2D846A;text-decoration-color: whitesmoke">

                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor01">
                    <ul class="navbar-nav mr-auto ml-auto d-flex">
                        <li class="nav-item mr-3">
                            <a class="nav-link" href={{ path('team') }} }}">Notre équipe</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>

                        <li class="nav-item active mr-3">
                            <a class="nav-link" href="{{ path('mentions') }}">Mentions légales<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active mr-3">
                            <a class="nav-link" href="{{ path('conditions') }}">Politique de confidentialité<span class="sr-only">(current)</span></a>
                        </li>


                        {% if mainNavLogin is defined %}
                            <li class="nav-item active ">
                                <a class="nav-link" href="{{ path('back_office') }}">Administration<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active ">
                                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter<span class="sr-only">(current)</span></a>
                            </li>
                        {%  else %}
                            <li class="nav-item active ">
                                <a class="nav-link" href="{{ path('app_login') }}">Se connecter<span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
        {%  endblock %}

        {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
                    referrerpolicy="origin">tinymce.init({
                    selector: 'textarea'
                });</script>

        {% endblock %}
    </body>
</html>
