{% extends 'base.html.twig' %}

{% block title %}Editer un article{% endblock %}

{% block body %}

<div class="container container-bottom container-top">

    <div class="block-clair mb-5 mx-5 border-primary">

        <h2 class="titre">Article</h2>

        {{ form_start(formarticle)}}
        {{ form_row(formarticle.title) }}
        {{ form_row(formarticle.content) }}
        {{ form_row(formarticle.image) }}
        {{ form_row(formarticle.category) }}
        {# form_row(formarticle.savearticle) #}
        <button class="submit btn btn-primary align-content-center">Mettre à jour</button>
        {{ form_end(formarticle)}}
        <button href="#" class="submit btn btn-primary mx-1 mt-3">Supprimer</button>
        <br/>
        <button class="btn btn-secondary mx-1 mt-3"> <a href="javascript:history.back()">Retour</a></button>

    </div>

   </div>



    {% endblock %}
