{% extends 'base.html.twig' %}

{% block title %}{{ article.title|upper}}{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid my-5 jumbochange container-top ">

        <div class="container container-top">

            <img src="{{ asset('img/logo.png') }}" style="height: 20%; width: 20%" alt="logo Héra Créations" class="titre">


        </div>
    </div>

    <div class="container container-bottom container-top mt-5" style="background-image: url({{ article.image }});
    text-align: center; background-repeat : no-repeat ; background-size : cover ; color:white ; text-shadow:1px 1px 2px black;">

        <h1 class="titre">{{ article.title|upper}}</h1>
       <br/>

        <p class="titre" >{{ article.content }}</p>

        <br/>

        <button class="btn btn-secondary mb-5 "> <a href="javascript:history.back()">Retour</a></button>


    </div>
{% endblock %}
